@{
    ViewData["Title"] = "Home Page";
}


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active"
             data-toggle="modal" data-target="#exampleModal"
             onclick="buyCandy('M&M')">
            <img src="~/Files/pic01.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item"
             data-toggle="modal" data-target="#exampleModal"
             onclick="buyCandy('Skittles')">
            <img src="~/Files/pic02.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item"
             data-toggle="modal" data-target="#exampleModal"
             onclick="buyCandy('Jelly Bears')">
            <img src="~/Files/pic03.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Candy Vending Machine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalBody" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    function buyCandy(brand) {

        // const mBody = document.getElementById('modalBody');
        // mBody.innerHTML = 'You have bought ' + brand + ' candy!';

        // $('#modalBody').html('You have bought ' + brand + ' candy!');
        $('.modal-body').html('You have bought ' + brand + ' candy!');

        console.log(mBody, brand);
    }
</script>
